.container {
    line-height: normal;
    height: 55px;
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--textSoft);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;     
}

.active {
    background-color: hsla(247, 88%, 67%, 1);
    color: var(--text);
    width: 220px;
    height: 55px;
    border-radius: 0px 7px 7px 0px;
    font-weight: 600;
}

.container span {
    align-self: center;
    margin-left: 30px;

}

.container img {
    padding-left: 40px;
    float: left;
}

.page {
    padding-top: 13px;
}