.container {
  display: flex;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}

.content {
  width: 1250px;
  padding: 20px;
  background-color: var(--bg);
  overflow-y: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}