@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --bg: #161616;
  --bgSoft: #1D1E1F;
  --text: #fff;
  --textSoft: rgba(255, 255, 255, 0.50);
  --btn: #0164E5;
}

body {
  background-color: var(--bg);
  color: var(--text); 
  display: flex;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--textSoft);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

.main-content {
  padding: 20px;
  background-color: var(--bg);
  overflow-y: auto;
  width: 1292px;
  text-align: center;
  margin: 0;
  padding: 0;
}